#match{
    /*margin-top: 100%;*/
}
#match .btn.prev{
    padding-right: 50%;
}
#match .btn.btn-link{
    color:#fff;
}
.matched-user-picture-wrapper{
	position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}
.matched-user-picture{
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    font-size: 3em;
    text-transform: capitalize;
    padding-top: 10px;
    color: #fff;
    text-shadow: 0 0 5px black;
}
#match .btn{
    font-size: 11em;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    padding: 0;
}
#match .btn .glyphicon{
    line-height: 1.3;
}
#match .btn.btn-success{
    padding-right: 10px;
    padding-top: 8px;
    
}

#match .btn.btn-danger{
    
    padding-top: 4px;
}
#match .btn.change{
    text-shadow: 0 0 30px #111;
}
#match .btn.no, #match .btn.yes{
    box-shadow: 0 0 30px #111;
    font-size: 8em;
    min-width: 100px;
    width: 150px;
    height: 150px;
}
#match .validate{
    position: absolute;
    width: 100%;
    left: 0;
}