.btn.btn-default, 
.btn.btn-default:hover{
	color: #fff;
}
#pictValidation .btn.btn-success {
    background-color: #00ebaa;
}
#pictValidation .btn.btn-default, .btn.btn-default:hover {
    background-color: #aeaeae;
    background-color: #ff008d;
}

#pictValidation .btn.btn-default, #pictValidation .btn.btn-success{
	min-width: 290px;
	margin: 50px 10px;
}