#reaction{
    font-family: "CircularStd";
	margin-bottom: 50px;
}
#reaction .btn{
	margin-bottom: 0;
	min-width: 100px;
	margin-left: 0;
	margin-right: 0;
}
#reaction ul{
	margin-bottom: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
}
#reaction .row ul.lovebot>li, 
#reaction .row{
	display: none;
}
#reaction .banner{
    z-index: 10;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #eee;
    padding: 10px 0;
    box-shadow: 0 0 10px #111;
}
#reaction .banner .row{
    display: block;
}

#reaction .banner img{
    max-height: 100px;
    border-radius: 0;
}
#reaction .banner .status{
    color: green;
}
#reaction .banner .status h3{
    color: black;
}
#reaction img{
	border-radius: 100%;
}

#reaction .progress{
    padding: 0;
    margin-bottom: 7px;
    height: 10px;
    width: 300px;
    left: 0;
}
#reaction .recorder .progress-bar-danger{
    background: red;
}

.progress-bar{
	-webkit-transition: none;
    -o-transition: none;
    transition: none;
}

#reaction .glyphicon.record{
	width: 30px;
    height: 30px;
    background: red;
    border-radius: 15px;
}
#reaction .time{
	min-width: 30px;
}