<template name="start">
	<div id="start">
	{{#with currentUpload}}
		<div class="progress">
			<div id="progressBar" class="progress-bar progress-bar-danger" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
			</div>
		</div>
	{{/with}}
		<div class="row">
			<img id="logo" src="/logos/theLoveBot.gif" class="img-responsive"/>
		</div>
		<div class="start-custom-btn">
			<div class="btn-group-center" >
				<div class="btn-group" role="group">
					<button class="next btn btn-lg btn-pink btn-VCR" >Embarquez dans l’expérience</button>
				</div>
			</div>
		</div>
	</div>
	
</template>