<template name="pictValidation">
	<div id="pictValidation">
		<audio id="audioClick1" src="sounds/effects/click1.wav" preload="auto"></audio>
		<audio id="audioClick2" src="sounds/effects/click2.wav" preload="auto"></audio>
		<div class="row">
			<img src="{{picture}}" class="center-block img-responsive"/>
		</div>
		<div class="row">
			<div class="btn-group-center" >
				<div class="" role="group">
					<button class="prev btn btn-lg btn-default">Recommencer</button>
					<button class="next btn btn-lg btn-success">Valider</button>
				</div>
			</div>
		</div>
	</div>
</template>