<div>
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td valign="top"></td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                                    <tbody>
                                        <tr>
                                            <td valign="top" style="padding:9px">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                                                                <img align="center" alt="" src="http://ogre.be/LB_Mail-2.png" width="300" style="max-width:300px;padding-bottom:0;display:inline!important;vertical-align:bottom">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                                    <tbody>
                                        <tr>
                                            <td valign="top" style="padding-top:9px">
                  	                             <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px">
                                                                <p dir="ltr">
                                                                    <span style="font-size:13px">
                                                                        <strong>Bonjour {{user2.firstname}},</strong>
                                                                        <br>
                                                                        <br>
                                                                        Une personne vient d'écouter l'opinion que vous avez exprimé au sujet de {{user3.firstname}} durant votre passage dans ma cabine.
                                                                        <br>
                                                                        <br>
                                                                        <strong>La voici :</strong>
                                                                    </span>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                                    <tbody>
                                        <tr>
                                            <td valign="top" style="padding:0px">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center">
                                                                <img align="center" alt="" src="{{user1.picture}}" width="400" style="max-width:400px;padding-bottom:0;display:inline!important;vertical-align:bottom">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                                    <tbody>
                                        <tr>
                                            <td valign="top" style="padding-top:9px">
                  	                             <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px">
                                                                <br>
                                                                <span style="font-size:13px">
                                                                    <strong>À bientôt.</strong>
                                                                </span>
                                                                <br>
                                                                <br>
                                                                <span style="font-size:13px">
                                                                    The LoveBot &lt;3
                                                                </span>
                                                                <br>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                                    <tbody>
                                        <tr>
                                            <td style="min-width:100%;padding:10px 18px 25px">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #eeeeee">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <span></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>
</div>