<div>
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
            <tbody>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td valign="top"></td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" style="padding:9px">
                                                        <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                                                                        <img align="center" alt="" src="http://ogre.be/LB_Mail-2.png" width="300" style="max-width:300px;padding-bottom:0;display:inline!important;vertical-align:bottom">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" style="padding-top:9px">
                      	                                 <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px">
                                                                        <p dir="ltr">
                                                                            <br>
                                                                            <strong>
                                                                                <span style="font-size:13px">
                                                                                    Bonjour {{firstname}}, 
                                                                                </span>
                                                                            </strong>
                                                                        </p>
                                                                        <p dir="ltr">
                                                                            <br>
                                                                            <span style="font-size:13px">
                                                                                Vous venez de rencontrer le LoveBot.
                                                                            </span>
                                                                        </p>
                                                                        <p dir="ltr">
                                                                            <br>
                                                                            <span style="font-size:13px">
                                                                                Vous l'aurez compris, il s'agit d'<strong>un dispositif de rencontre peu habituel, qui vous invite à lâcher prise et à tester les limites de votre zone de confort</strong>. Aussi insolite qu'elle soit, cette expérience pourra vous conduire à nouer de véritables contacts avec des personnes qui auront - elles aussi - rencontré le Love Bot.
                                                                            </span>
                                                                            <br>
                                                                        </p>
                                                                        <p dir="ltr">
                                                                            <span style="font-size:13px">
                                                                                <strong>Ce projet s'inscrit dans une réflexion plus large autour des "intimités numériques"</strong>, ou comment sentiments, sexualités et numérique dialoguent dans ce monde hyper-connecté qui est le nôtre. Les choix que vous aurez menés au cours de cette expérience nourriront bientôt les statistiques d'une recherche sociologique.
                                                                            </span>
                                                                        </p>
                                                                        <p dir="ltr">
                                                                            <span style="font-size:13px">
                                                                                Pour en savoir plus, rendez-vous <a href="http://www.voixdefemmes.org/thelovebot/" target="_blank">ici</a>.
                                                                            </span>
                                                                        </p>
                                                                        <p dir="ltr">
                                                                            <br>
                                                                            <span style="font-size:13px">
                                                                                <strong>Merci.</strong>
                                                                            </span>
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                                            <tbody>
                                                <tr>
                                                    <td style="min-width:100%;padding:10px 18px 25px">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #eeeeee">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <span></span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</div>