<template name="signUp">
	<div id="signUp">
		<div id="keyboardSounds">
			<audio src="sounds/effects/keyboard/Type1.wav" preload="auto"></audio>
			<audio src="sounds/effects/keyboard/Type2.wav" preload="auto"></audio>
			<audio src="sounds/effects/keyboard/Type3.wav" preload="auto"></audio>
			<audio src="sounds/effects/keyboard/Type4.wav" preload="auto"></audio>
			<audio src="sounds/effects/keyboard/Type5.wav" preload="auto"></audio>
			<audio src="sounds/effects/keyboard/Type6.wav" preload="auto"></audio>
			<audio src="sounds/effects/keyboard/Type7.wav" preload="auto"></audio>
			<audio src="sounds/effects/keyboard/Type8.wav" preload="auto"></audio>
			<audio src="sounds/effects/keyboard/Type9.wav" preload="auto"></audio>
			<audio src="sounds/effects/keyboard/Type10.wav" preload="auto"></audio>
		</div>
		<audio id="audioClick1" src="sounds/effects/click1.wav" preload="auto"></audio>
		<audio id="audioClick3" src="sounds/effects/click3.wav" preload="auto"></audio>
		
		<div class="user-picture-wrapper">
			<div class="user-picture blur" style="background-image:url({{picture}})"></div>
		</div>
		<form class="form-inline" role="form" > 
			<fieldset class="row">
				<div class="form-group col-xs-offset-1 col-xs-10">
					<div class="input-group col-xs-12">
						<!--<label class="input-group-addon" for="firstname" >
							Prénom
							<span class="badge alert-danger error hide">erreur</span>
							<span class="badge alert-success success hide">Valide</span>
						</label>
						-->
						<input class="form-control input-lg" type="text" id="firstname" name="firstname" placeholder="Prénom" value="" autocomplete="off">
					</div>
				</div>
			</fieldset>
			<fieldset class="row">
				<div class="form-group col-xs-offset-1 col-xs-10">
					<div class="input-group col-xs-12">
						<!--<label class="input-group-addon" for="firstname" >
							Prénom
							<span class="badge alert-danger error hide">erreur</span>
							<span class="badge alert-success success hide">Valide</span>
						</label>
						-->
						<input class="form-control input-lg" type="email" id="email" name="email" placeholder="Adresse e-mail" value="" autocomplete="off">
					</div>
				</div>
			</fieldset>
			<fieldset class="row">
				<div class="form-group col-xs-offset-1 col-xs-10">
					<div class="input-group col-xs-12">
						<textarea class="form-control input-lg" readonly>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</textarea>
						<div class="checkbox form-control">
						  <label>
						    <input type="checkbox" id="blankCheckbox" name="checkin" aria-label="...">
						    J'accepte les conditions
						  </label>
						</div>
					</div>
				</div>
			</fieldset>



			<fieldset class="row">
				<div class="pull-right">
					<input type="submit" name="submit" class="btn btn-lg btn-success" disabled value="Valider" />
				</div>
			</fieldset>
		</form>
	</div>
</template>