<template name="signUp">
	<div id="signUp">
		<div id="keyboardSounds">
			<audio src="sounds/effects/keyboard/Type1.wav" preload="auto"></audio>
			<audio src="sounds/effects/keyboard/Type2.wav" preload="auto"></audio>
			<audio src="sounds/effects/keyboard/Type3.wav" preload="auto"></audio>
			<audio src="sounds/effects/keyboard/Type4.wav" preload="auto"></audio>
			<audio src="sounds/effects/keyboard/Type5.wav" preload="auto"></audio>
			<audio src="sounds/effects/keyboard/Type6.wav" preload="auto"></audio>
			<audio src="sounds/effects/keyboard/Type7.wav" preload="auto"></audio>
			<audio src="sounds/effects/keyboard/Type8.wav" preload="auto"></audio>
			<audio src="sounds/effects/keyboard/Type9.wav" preload="auto"></audio>
			<audio src="sounds/effects/keyboard/Type10.wav" preload="auto"></audio>
		</div>
		<audio id="audioClick1" src="sounds/effects/click1.wav" preload="auto"></audio>
		<audio id="audioClick3" src="sounds/effects/click3.wav" preload="auto"></audio>
		
		<div class="user-picture-wrapper">
			<div class="user-picture blur" style="background-image:url({{picture}})"></div>
		</div>
		<form class="form-inline" role="form" > 
			<fieldset class="row">
				<div class="form-group col-xs-offset-1 col-xs-10">
					<div class="input-group col-xs-12">
						<!--<label class="input-group-addon" for="firstname" >
							Prénom
							<span class="badge alert-danger error hide">erreur</span>
							<span class="badge alert-success success hide">Valide</span>
						</label>
						-->
						<input class="form-control input-lg" type="text" id="firstname" name="firstname" placeholder="Prénom" value="" autocomplete="off" spellcheck="false">
					</div>
				</div>
			</fieldset>
			<fieldset class="row">
				<div class="form-group col-xs-offset-1 col-xs-10">
					<div class="input-group col-xs-12">
						<!--<label class="input-group-addon" for="firstname" >
							Prénom
							<span class="badge alert-danger error hide">erreur</span>
							<span class="badge alert-success success hide">Valide</span>
						</label>
						-->
						<input class="form-control input-lg" type="email" id="email" name="email" placeholder="Adresse e-mail" value="" autocomplete="off" spellcheck="false">
					</div>
				</div>
			</fieldset>
			<fieldset class="row">
				<div class="form-group col-xs-offset-1 col-xs-10">
					<div class="input-group col-xs-12 gender">
						
						<!--<label class="input-group-addon" for="firstname" >
							Prénom
							<span class="badge alert-danger error hide">erreur</span>
							<span class="badge alert-success success hide">Valide</span>
						</label>
						-->
						<div class="box col-xs-12">
							<select name="age" class="form-control">
								<option disabled selected value="">Age</option>
								{{#each ages}}
								<option value="{{this}}">{{this}} ans</option>
								{{/each}}
							</select>
						</div>
					</div>
				</div>
			</fieldset>
			<fieldset class="row">
				<div class="form-group col-xs-offset-1 col-xs-10">
					<div class="input-group col-xs-12 gender">
						<!--<label class="input-group-addon" for="firstname" >
							Prénom
							<span class="badge alert-danger error hide">erreur</span>
							<span class="badge alert-success success hide">Valide</span>
						</label>
						-->
						
						<div class="box col-xs-12">
							<select name="gender" class="form-control">
								<option disabled selected value="">Genre</option>
								<option value="homme">Homme</option>
								<option value="femme">Femme</option>
								<option value="autre">Autre</option>
							</select>
						</div>
					</div>
				</div>
			</fieldset>

			<fieldset class="row">
				<div class="form-group col-xs-offset-1 col-xs-10">
					<div class="input-group col-xs-12 gender">
						
							<!--<label class="input-group-addon" for="firstname" >
								Prénom
								<span class="badge alert-danger error hide">erreur</span>
								<span class="badge alert-success success hide">Valide</span>
							</label>
							-->
							<div class="box col-xs-12">
								<select name="sex" class="form-control">
									<option disabled selected value="">Orientation sexuelle</option>
									<option value="heterosexuel">Hétérosexuel</option>
									<option value="homosexuel">Homosexuel</option>
									<option value="bisexuel">Bisexuel</option>
									<option value="pansexuel">Pansexuel</option>
									<option value="asexuel">Asexuel</option>
									<option value="autre">Autre</option>
								</select>
								
							</div>
					</div>
				</div>
			</fieldset>


			

			<fieldset class="row">
				<div class="form-group col-xs-offset-1 col-xs-10">
					<div class="input-group col-xs-12">
						<textarea class="form-control input-lg" readonly>Politique modèle de confidentialité.

Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention particulière à la protection de la vie privée. C'est pourquoi, nous nous engageons à respecter la confidentialité des renseignements personnels que nous collectons.

Collecte des renseignements personnels


Nous collectons les renseignements suivants :
Prénom
Adresse électronique
 ge / Date de naissance
Genre 
Orientation sexuelle


Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et grâce à l'interactivité établie entre vous et notre application. Nous utilisons également, comme indiqué dans la section suivante, des fichiers témoins et/ou journaux pour réunir des informations vous concernant.


Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :
Correspondance
Recherche académique

Fichiers journaux et témoins

Nous recueillons certaines informations par le biais de fichiers journaux (log file) et de fichiers témoins (cookies). Il s'agit des informations suivantes : pages visitées et requêtes. Le recours à de tels fichiers nous permet d’établir des statistiques.


Partage des renseignements personnels

Nous nous engageons à ne pas commercialiser les renseignements personnels collectés. Toutefois, nous partagerons ces informations avec des tiers dans le cadre de recherches académiques. Si vous ne souhaitez pas que vos renseignements personnels soient communiqués à des tiers, il vous est possible de vous y opposer au moment de la collecte ou à tout moment par la suite, comme mentionné dans la section suivante.

Droit d'accès

Nous nous engageons à reconnaître un droit d'accès et de rectification aux personnes concernées désireuses de consulter, modifier, voire radier les informations les concernant.


L'exercice de ce droit se fera via courriel : info@thelovebot.me</textarea>
						<div class="checkbox form-control">
						  <label>
						    <input type="checkbox" id="blankCheckbox" name="checkin" aria-label="...">
						    J'accepte les conditions
						  </label>
						</div>
					</div>
				</div>
			</fieldset>



			<fieldset class="row">
				<div class="form-group col-xs-offset-1 col-xs-10">
					<input type="submit" name="submit" class="btn btn-lg btn-fushia pull-right" disabled value="Valider" />
				</div>
			</fieldset>
		</form>
	</div>
</template>