<template name="sadBye">
	<div id="sadBye">
		<audio id="audio3" src="sounds/loops/loop_repertorio1_sad.wav" preload="auto" autoplay="autoplay"></audio>
		<div class="matched-user-picture-wrapper">
			<div class="matched-user-picture" style="background-image:url(LB_avatar_sad.gif)">
			</div>
		</div>

		<div class="row">
			<div class="btn-group-center" >
				<div class="sentence" role="">
					Votre expérience s’achève ici.<br/>
					Oubliez vos peurs. Prenez du recul.<br/>
					Lâchez prise.
				</div>
				<div class="" role="group">
					<button class="next btn btn-lg btn-pink btn-VCR">Recommencer l’expérience</button>
				</div>
			</div>
		</div>
	</div>
</template>