<template name="reaction">
	<div id="reaction">
		
		<audio id="audio2" src="sounds/effects/click2.wav" preload="auto"></audio>
		<audio id="audio3" src="sounds/effects/erreur2.wav" preload="auto"></audio>
		<div class="matched-user-picture-wrapper">
			<div class="matched-user-picture">
				{{user2Firstname}}
			</div>
		</div>
		<div class="banner">
			<audio src="sounds/effects/ting.wav" preload="auto"></audio>
			<div class="row">	
				<div class="col-xs-1">
				</div>
				<div class="col-xs-10">
					<div class="row">
						<div class="col-xs-2">
							<img src="LB_avatar.gif" class="img-responsive logo">
						</div>
						<div class="col-xs-10 status">
							<h3>LOVEBOT</h3>
							En ligne
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tchat">
			<audio id="ploc" src="sounds/effects/ploc.wav" preload="auto"></audio>
			<div class="row">
				<div class="col-xs-2 pull-bottom">
					<img src="LB_avatar.gif" class="img-responsive"/>
				</div>
				<div class="col-xs-9 pull-bottom">
					<ul class="lovebot list-unstyled">
						<li data-time="3000">
							<div class="btn btn-lovebot">
								J'aimerais en savoir plus
							</div>
						</li>
						<li data-time="3000">
							<div class="btn btn-lovebot">
								Que pensez-vous de cette personne ?
							</div>
						</li>
						<li data-time="3000">
							<div class="btn btn-lovebot">
								Vous pouvez commencer à parler dans …
							</div>
						</li>
						<li data-time="1500" data-action="pauseTheLoop">
							<div class="btn btn-lovebot">
								3
							</div>
						</li>
						<li data-time="1500">
							<div class="btn btn-lovebot">
								2
							</div>
						</li>
						<li data-time="1500">
							<div class="btn btn-lovebot">
								1
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 pull-bottom"></div>
				<div class="col-xs-7 pull-bottom">
					<ul class="list-unstyled">
						<li data-time="0" data-action="record">
							<audio id="cling" src="sounds/effects/cling.wav" preload="auto"></audio>
							<div class="btn btn-default pull-right">
								<ol class="recorder list-inline">
									<li class="circle">
										<span class="glyphicon record danger" aria-hidden="true"></span>
									</li>
									<li class="progress">
										<div class="progress-bar progress-bar-danger" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
										</div>
									</li>
									<li class="time">
										0:00
									</li>
								</ol>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-xs-2 pull-bottom">
					<img src="{{userPicture}}" class="img-responsive"/>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 pull-bottom">
					<img src="LB_avatar.gif" class="img-responsive"/>
				</div>
				<div class="col-xs-9 pull-bottom">
					<ul class="lovebot list-unstyled">
						<li data-time="1000">
							<div class="btn btn-lovebot">
								Lol
							</div>
						</li>
						<li data-time="3000">
							<div class="btn btn-lovebot">
								Nous avons des données à vous partager
							</div>
						</li>
						<li data-time="3000">
							<div class="btn btn-lovebot">
								Voici ce que <span class="caps">{{user2Firstname}}</span> pense de <span class="caps">{{user3Firstname}}</span>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-2 pull-bottom">
					<img src="{{user2Picture}}" class="img-responsive"/>
				</div>
				<div class="col-xs-7 pull-bottom">
					<ul class="lovebot list-unstyled">
						<li data-time="0" data-action="play">
							<div class="btn btn-lovebot play">
								<audio id="audioMatch" src="{{matchAudio}}"></audio>
								<ol class="player list-inline">
									<li>
										<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
									</li>
									<li class="progress">
										<div class="progress-bar progress-bar-danger" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
										</div>
									</li>
									<li class="time">
										0:00
									</li>
								</ol>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-xs-2 pull-bottom">
					<img src="{{user3Picture}}" class="img-responsive"/>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 pull-bottom">
					<img src="LB_avatar.gif" class="img-responsive"/>
				</div>
				<div class="col-xs-9 pull-bottom">
					<ul class="lovebot list-unstyled">
						<li data-time="3000">
							<div class="btn btn-lovebot">
								Alors ? 
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-9 pull-bottom">
					<ul class="list-unstyled">
						<li data-time="0" data-action="confirmation">
							<audio id="tictac" src="sounds/effects/tictac.wav" preload="auto"></audio>
							<audio id="click1" src="sounds/effects/click1.wav" preload="auto"></audio>
							<div class="btn-group-center pull-right" >
								<div class="" role="group">
									<button class="{{no}} btn btn-lg btn-danger">Je passe mon chemin</button>
									<button class="{{yes}} btn btn-lg btn-success">L'amour est dans l'air</button>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-xs-2 pull-bottom">
					<img src="{{userPicture}}" class="img-responsive"/>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 pull-bottom">
					<img src="LB_avatar.gif" class="img-responsive"/>
				</div>
				<div class="col-xs-9 pull-bottom">
					<ul class="lovebot list-unstyled">
						<li data-time="3000">
							<div class="btn btn-lovebot">
								Super, merci <span class="caps">{{userFirstname}}</span>
							</div>
						</li>
						<li data-time="3000">
							<div class="btn btn-lovebot">
								Le LOVEBOT souhaite envoyer<br />
								votre photo et déclaration à l'élu(e).<br/>
								C'est oui ?
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-9 pull-bottom">
					<ul class="list-unstyled">
						<li data-time="0"  data-action="sendIt">
							<audio id="yeah" src="sounds/effects/yeah1.wav" preload="auto"></audio>
							<audio id="happy" src="sounds/loops/loop_repertorio1_happy.wav" preload="auto"></audio>
							<audio id="timeout" src="sounds/effects/timeout.wav" preload="auto"></audio>
							
							<div class="btn-group-center pull-right" >
								<div class="" role="group">
									<button class="nono btn btn-lg btn-danger">Je ne le veux pas</button>
									<button class="yesyes btn btn-lg btn-success">Je le veux</button>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-xs-2 pull-bottom">
					<img src="{{userPicture}}" class="img-responsive"/>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 pull-bottom">
					<img src="LB_avatar.gif" class="img-responsive"/>
				</div>
				<div class="col-xs-9 pull-bottom">
					<ul class="lovebot list-unstyled">
						<li data-time="2000">
							<div class="btn btn-lovebot">
								Merci d'accorder votre<br/>confiance au LOVEBOT
							</div>
						</li>
						<li data-time="2000">
							<div class="btn btn-lovebot">
								L'élu(e) vous contactera par email ...
							</div>
						</li>
						<li data-time="3000">
							<div class="btn btn-lovebot waitForIt">
								<span><span>.</span><span>.</span><span>.</span></span>
							</div>
						</li>
						<li data-time="0" data-action="reload">
							<div class="btn btn-lovebot">
								... si tel est son désir
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<canvas id="heartAttack" width="{{width}}px" height="{{height}}px"></canvas>
</template>