<template name="confirmModal">
	<div class="modal" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<audio id="audioWarn" src="/warn.wav" preload="auto"></audio>
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close">
						<span aria-hidden="true">&times;</span>
					</button>
					lovebot.exe
				</div>
				<div class="modal-body">
					<br/>
					<div class="row">
						<div class="col-xs-offset-5 col-xs-2">
							<img src="alert.png" class="img-responsive"/>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-xs-offset-3 col-xs-6">
							<h3 class="message"></h3>
						</div>
					</div>	
					<div class="row">
						<div class="col-xs-offset-2 col-xs-3">
							<button type="button" class="btn btn-lg pull-left no">
								Recommencer
							</button>
						</div>
						<div class="col-xs-offset-2 col-xs-3">
							<button type="button" class="btn btn-lg pull-left yes" data-dismiss="modal" aria-label="Close">
								Valider
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>