<template name="timeoutModal">
	<div class="modal fade" id="timeoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<audio id="audioError" src="sounds/effects/tictac.wav" preload="auto"></audio>
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close">
						<span aria-hidden="true">&times;</span>
					</button>
					lovebot.exe : Êtes-vous là?
					<div class="progress">
						<div id="progressBar" class="progress-bar progress-bar-danger" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
						</div>
					</div>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-6">
							<img src="timeout.png" class="img-responsive"/>
						</div>
						<div class="col-xs-6">
							<h3>
								Redémarrage dans <span class="label label-danger">{{timer}}</span>
							</h3>
							<button type="button" class="btn btn-lg btn-success pull-left">Je suis là!</button>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</template>